/**
 * AUI TABLE
 * -------------------------------------------------------------------
 * - Column selector
 * - Table bar
 */

/**
 * COLUMN SELECTOR
 * -------------------------------------------------------------------
 */

.a-table-column-selector {
  margin: 0 0 -1px;
  max-height: 70vh;
  overflow: auto;

  &__actions {
    display: flex;
    flex-direction: column;
    margin-left: var(--SPACER-3XS);
    margin-right: 0;
  }

  > li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    &.show {
      animation: fadeIn var(--ANIMATION-NORMAL);
    }

    &.active {
      background-color: var(--BG-COLOR);
    }
  }
}

/**
 * AUI ANIMATION
 * -------------------------------------------------------------------
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
