/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */
/**
 * QUARKS
 * -------------------------------------------------------------------
 */
/**
 * MIXINS
 * -------------------------------------------------------------------
 * Collection of custom mixins
 */
/**
 * FONT FACE
 * -------------------------------------------------------------------
 */
/**
 * INPUT PLACEHOLDER MIXIN
 * -------------------------------------------------------------------
 * Change base styling for placeholder text on input fields
 * Note: Styling the placeholder text is not supported on older
 * browsers, use a html5-placeholder polyfill for that
 *
 * Background info:
 * - http://davidwalsh.name/html5-placeholder
 * - http://davidwalsh.name/placeholder-overflow
 * - http://jamesallardice.github.io/Placeholders.js
 */
/**
 * FOCUS
 * -------------------------------------------------------------------
 */
/**
 * CLEARFIX
 * -------------------------------------------------------------------
 */
/**
 * MEDIA QUERIES MIXIN
 * -------------------------------------------------------------------
 */
/**
 * COLORS
 * -------------------------------------------------------------------
 * Collection of all available branding colors
 */
/**
 * COMPLETE COLOR PALETTE
 * -------------------------------------------------------------------
 * Variable names generated by Name That Color
 * http://chir.ag/projects/name-that-color
 */
/**
 * GRAYSCALE COLOR PALETTE
 * -------------------------------------------------------------------
 * Collection of grayscale colors
 */
/**
 * SOCIAL BRAND COLOR PALETTE
 * -------------------------------------------------------------------
 * Collection of social branding colors
 * Also see https://mdigi.tools/darken-color/
 * We used 25%
 */
/**
 * GLOBAL VARIABLES
 * -------------------------------------------------------------------
 * Leave here for renderer
 */
/**
 * BREAKPOINTS
 * -------------------------------------------------------------------
 * CSS variables can't (yet) be used in media queries, so we need to define
 * them here as SCSS variables so we can use them like that in media queries.
 */
/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */
.a-pre {
  margin: 0;
}
.a-pre + .a-pre {
  margin-top: var(--SPACER-3XS);
}

.d {
  display: flex;
  flex-direction: column;
  margin: var(--SPACER) calc(var(--SPACER-XS) * -1);
}
@media screen and (min-width: 45rem) {
  .d {
    flex-direction: row;
  }
}
.d > div {
  flex: 1 1 auto;
  padding: var(--SPACER-3XS) var(--SPACER-XS) 0;
}
@media screen and (min-width: 45rem) {
  .d > div {
    width: 0;
  }
}

.d-intro > div {
  flex: 1 1 auto;
}

.d-margin-intro-3xl {
  margin-bottom: var(--SPACER-L);
}
@media screen and (min-width: 30rem) {
  .d-margin-intro-3xl {
    margin: var(--SPACER) var(--SPACER) var(--SPACER-L);
  }
}
@media screen and (min-width: 45rem) {
  .d-margin-intro-3xl {
    margin: var(--SPACER-L) var(--SPACER-L) var(--SPACER-XL);
  }
}
@media screen and (min-width: 62rem) {
  .d-margin-intro-3xl {
    margin: var(--SPACER-XL) var(--SPACER-XL) var(--SPACER-XXL);
  }
}
@media screen and (min-width: 75rem) {
  .d-margin-intro-3xl {
    margin: var(--SPACER-XXL) var(--SPACER-XXL) var(--SPACER-3XL);
  }
}
@media screen and (min-width: 90rem) {
  .d-margin-intro-3xl {
    margin: var(--SPACER-3XL);
  }
}

.u-margin-bottom-top-xxs {
  margin: var(--SPACER-3XS) 0;
}

.d-toc {
  display: flex;
  flex-wrap: wrap;
}
.d-toc__cell {
  flex: 0 0 50%;
}
@media screen and (min-width: 45rem) {
  .d-toc__cell {
    flex: 0 0 33.3333333333%;
  }
}
@media screen and (min-width: 75rem) {
  .d-toc__cell {
    flex: 0 0 16.6666666667%;
  }
}

.a-list__toc {
  margin: 0;
  list-style-type: none;
  padding-bottom: var(--SPACER);
  padding-left: 0;
}
.a-list__toc li {
  padding-bottom: 0;
}

.line {
  border-top: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
}

.d-h1 {
  padding-bottom: var(--SPACER);
  padding-top: var(--SPACER-3XL);
}
@media screen and (min-width: 1344px) {
  .d-h1 {
    padding-bottom: var(--SPACER-XL);
    padding-top: var(--SPACER-XL);
  }
}
.d-h1 small {
  display: inline-block;
  padding: calc(var(--SPACER-XS) / 4) calc(var(--SPACER-XS) / 3) calc(var(--SPACER-XS) / 3);
  position: relative;
  transform: translateY(calc(var(--SPACER-3XS) * -1.5));
}

.d-h2 {
  padding-top: var(--SPACER);
}

.d-file {
  color: #6f6f6f;
  display: inline-block;
  font-weight: bold;
  margin-top: calc(var(--SPACER-XS) / 6);
}

.d-alert {
  margin-top: var(--SPACER-XS);
  padding: var(--SPACER-XS);
}

.m-alert--wcag {
  padding-left: var(--SPACER-XL);
  position: relative;
}
.m-alert--wcag:before {
  background-color: var(--STATE-INFO);
  background-repeat: no-repeat;
  content: "";
  height: 1.25rem;
  left: var(--SPACER-XS);
  -webkit-mask: url("data:image/svg+xml;utf8,<svg viewBox=%220 0 24 24%22 xmlns=%22http://www.w3.org/2000/svg%22><g stroke-linecap=%22round%22 stroke=%22%23000%22 fill=%22none%22 stroke-linejoin=%22round%22 stroke-width=%226.25%%22><path class=%22cls-1%22 d=%22M9.6 5a2.12 2.12 0 102.12-2.12A2.12 2.12 0 009.6 5zM19.14 7.5l-7.27 1.34-7-1.36a1 1 0 100 2l4.33 1.27v4.51l-2.28 4.4A1 1 0 007.4 21a1.12 1.12 0 001.44-.46l2.61-5.15 2.61 5.15a1.1 1.1 0 001.44.46 1 1 0 00.53-.58.94.94 0 00-.06-.77c-.27-.52-1.21-2.44-2.19-4.4v-4.61l5.36-1.13a1 1 0 100-2z%22/><circle class=%22cls-1%22 cx=%2212%22 cy=%2212%22 r=%2211.5%22/></g></svg>") no-repeat center center;
          mask: url("data:image/svg+xml;utf8,<svg viewBox=%220 0 24 24%22 xmlns=%22http://www.w3.org/2000/svg%22><g stroke-linecap=%22round%22 stroke=%22%23000%22 fill=%22none%22 stroke-linejoin=%22round%22 stroke-width=%226.25%%22><path class=%22cls-1%22 d=%22M9.6 5a2.12 2.12 0 102.12-2.12A2.12 2.12 0 009.6 5zM19.14 7.5l-7.27 1.34-7-1.36a1 1 0 100 2l4.33 1.27v4.51l-2.28 4.4A1 1 0 007.4 21a1.12 1.12 0 001.44-.46l2.61-5.15 2.61 5.15a1.1 1.1 0 001.44.46 1 1 0 00.53-.58.94.94 0 00-.06-.77c-.27-.52-1.21-2.44-2.19-4.4v-4.61l5.36-1.13a1 1 0 100-2z%22/><circle class=%22cls-1%22 cx=%2212%22 cy=%2212%22 r=%2211.5%22/></g></svg>") no-repeat center center;
  position: absolute;
  top: var(--SPACER-XS);
  width: 1.25rem;
}

.d-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--SPACER-XS) * -1);
  margin-right: calc(var(--SPACER-XS) * -1);
}
.d-list > li {
  padding: 0 var(--SPACER-XS);
  width: 100%;
}
@media screen and (min-width: 45rem) {
  .d-list > li {
    width: 50%;
  }
}
.d-list__colors {
  align-items: center;
  -moz-column-gap: var(--SPACER);
       column-gap: var(--SPACER);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: stretch;
  margin: var(--SPACER) 0;
  row-gap: var(--SPACER);
}
.d-list__colors > li {
  border: 1px solid var(--BG-COLOR);
  min-height: 4rem;
  padding-bottom: var(--SPACER-XS);
  padding-left: var(--SPACER-XL);
  padding-top: var(--SPACER-XS);
  position: relative;
  width: 100%;
}
.d-list__colors > li .d-color {
  bottom: 0;
  box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--BG-COLOR);
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: var(--SPACER-L);
}

.d-p__variables code {
  white-space: nowrap;
}

.d-font {
  font-size: 1.5em;
}
.d-font-lg {
  font-size: 3em;
}

.d-bgutility {
  padding: var(--SPACER);
}
.d-bgutility.d-u-bg-white {
  box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--BORDER-COLOR-LIGHT) inset;
}

.d-u-text-primary {
  background: var(--BRAND-1-CONTRAST);
}
.d-u-text-secondary {
  background: var(--BRAND-2-CONTRAST);
}
.d-u-text-tertiary {
  background: var(--BRAND-3-CONTRAST);
}
.d-u-text-inverted {
  background: var(--BG-COLOR-INVERTED);
}

.d-spacing-utility {
  background: repeating-linear-gradient(45deg, var(--BG-COLOR-LIGHT), var(--BG-COLOR-LIGHT) 10px, var(--BG-COLOR) 10px, var(--BG-COLOR) 20px);
  box-shadow: 0 0 0 var(--BORDER-WIDTH) var(--BORDER-COLOR-LIGHT) inset;
  display: inline-block;
  padding: var(--SPACER-3XS);
}
.d-spacing-utility strong {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 0.0625rem 0.25rem 0.125rem;
}

.d-avatars {
  display: flex;
}

.d-button {
  margin-bottom: var(--SPACER-3XS);
}

.d-tooltip {
  margin-bottom: var(--SPACER-XS);
}

.d-datepicker {
  margin-bottom: 24rem;
}

.d-flyout {
  margin-bottom: 12rem;
}
.d-flyout--s {
  margin-bottom: 14rem;
}
.d-flyout--l {
  margin-bottom: 14rem;
}
@media screen and (min-width: 45rem) {
  .d-flyout--l {
    margin-bottom: 9rem;
  }
}
.d-flyout--xl {
  margin-bottom: 14rem;
}
@media screen and (min-width: 45rem) {
  .d-flyout--xl {
    margin-bottom: 9rem;
  }
}
@media screen and (min-width: 62rem) {
  .d-flyout--xl {
    margin-bottom: 8rem;
  }
}
.d-flyout--opens-above {
  margin-top: 14rem;
}
@media screen and (min-width: 45rem) {
  .d-flyout--opens-above {
    margin-top: 8rem;
  }
}

.d-negative-social-buttons,
.d-negative-page-indicator {
  padding: var(--SPACER-XS);
}

.d-avatar {
  margin-top: calc(var(--SPACER-XS) / 4);
}

.d-overlay input:checked ~ .m-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}
.d-overlay input:checked ~ .m-overlay label {
  box-shadow: none;
  height: auto;
  margin-bottom: var(--SPACER-XS);
  position: static;
  width: auto;
}
@media screen and (min-width: 45rem) {
  .d-overlay input:checked ~ .m-overlay label {
    margin-bottom: 0;
  }
}
.d-overlay input:checked ~ .m-overlay label:after {
  content: none;
}
.d-overlay input:checked ~ .m-overlay .m-modal__footer {
  justify-content: flex-end;
}
.d-overlay input:checked ~ .m-overlay .m-modal__footer .a-button {
  margin-bottom: 0;
}

.d--with-overlay {
  padding-top: var(--SPACER-XL);
}
.d--with-overlay .o-menu {
  margin-bottom: calc(var(--SPACER-3XL) * -1);
}
@media screen and (min-width: 45rem) {
  .d--with-overlay {
    padding-bottom: var(--SPACER-XXL);
    padding-top: 0;
  }
  .d--with-overlay .o-menu {
    margin-bottom: 0;
  }
}

.d-icons {
  display: grid;
  grid-gap: var(--SPACER-XS) var(--SPACER);
}
@media screen and (min-width: 45rem) {
  .d-icons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 62rem) {
  .d-icons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 75rem) {
  .d-icons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.d-icons__row {
  display: grid;
  grid-template-columns: calc(var(--SPACER-XL) * 1.25) auto;
}
.d-icons__icon {
  font-size: 3em;
}
.d-icons__code {
  min-width: 0;
}
.d-icons__code > .small {
  display: inline-block;
  margin-bottom: calc(var(--SPACER-XS) / 2);
}

.hljs {
  display: inline !important;
  overflow-x: hidden !important;
  padding: 0 !important;
}
.hljs .hljs-attribute,
.hljs .hljs-built_in,
.hljs .hljs-builtin-name,
.hljs .hljs-link,
.hljs .hljs-literal,
.hljs .hljs-meta,
.hljs .hljs-number,
.hljs .hljs-params,
.hljs .hljs-type {
  color: rgb(161.5, 88.35, 0) !important;
}
.hljs .hljs-section,
.hljs .hljs-title {
  color: #007299;
}