@use '../quarks' as *;

/**
 * COPYRIGHT VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _molecules.image.scss. You can find them in _quarks.css-properties.scss.
 */

.a-copyright {
  --copyright-height:        var(--shared-copyright-height);
  --copyright-color:         var(--shared-copyright-color);
  --copyright-bg-color:      var(--OVERLAY-COLOR);
}

/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 */

.a-copyright {
  background-color: var(--copyright-bg-color);
  color: var(--copyright-color);
  display: inline-flex;
  font-size: var(--FONT-SIZE-BASE);
  min-height: var(--copyright-height);
  transition: transform var(--ANIMATION-NORMAL);
  max-width: 100%;
}

a.a-copyright {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    .a-copyright__label {
      text-decoration: underline;
    }
  }
}

/**
 * COPYRIGHT ELEMENTS
 * -------------------------------------------------------------------
 */

.a-copyright__sign {
  display: flex;
  font-size: var(--FONT-SIZE-LARGE);
  justify-content: center;
  margin: .5625rem 0;
  width: var(--copyright-height);
}

.a-copyright__label {
  flex: 1;
  font-weight: var(--FONT-WEIGHT-BOLD);
  margin: .625rem var(--SPACER-XS) .625rem 0;
  min-width: 0;
}
