/**
 * CARD VARIABLES
 * -------------------------------------------------------------------
 */

.m-card {
  --card-bg-color: var(--BG-COLOR-LIGHT);
  --card-border-color: var(--BORDER-COLOR);
}

/**
 * CARD
 * -------------------------------------------------------------------
 */

.m-card {
  background-color: var(--card-bg-color);
  border: var(--BORDER-WIDTH) solid var(--card-border-color);
}

/**
 * CARD ELEMENTS
 * -------------------------------------------------------------------
 */

.m-card__image img {
  display: block;
  width: 100%;
}

.m-card__body {
  padding: var(--SPACER);
}
