@use '../quarks' as *;
@use '../atoms/atoms.button';

/**
 * OVERLAY VARIABLES
 * -------------------------------------------------------------------
 * This component has shared variables with _organisms.slideshow.scss. You can find them in _quarks.css-properties.scss.
 */

.m-overlay {
  --overlay-bg-color:             var(--OVERLAY-COLOR);
  --overlay-button-color:         var(--TEXT-COLOR-INVERTED);
  --overlay-button-hover-color:   #{$neutral-200};
}

/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

.m-overlay {
  background-color: var(--overlay-bg-color);
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--Z-OVERLAY);

  &.is-active {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

/**
 * OVERLAY ELEMENTS
 * -------------------------------------------------------------------
 */

.a-button.has-icon.m-overlay__button {
  --btn-color:              var(--TEXT-COLOR-INVERTED);
  --btn-hover-color:        var(--BG-COLOR);
  --btn-bg-color:           transparent;
  --btn-hover-bg-color:     var(--btn-bg-color);
  --btn-border-color:       transparent;
  --btn-hover-border-color: transparent;

  position: absolute;
  right: var(--SPACER-XS);
  top: var(--SPACER-XS);
}

.m-overlay__inner {
  max-height: calc(100vh - 8.75rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.m-overlay__slideshow.o-slideshow {
  max-height: 80vh;
  max-width: 105vh;
  width: 100%;

  .o-slideshow__footer {
    color: var(--shared-slideshow-footer-color-light);
  }
}

.m-overlay__pane {
  position: absolute;
  z-index: var(--Z-PANE-OVERLAY);
}
