@use '../quarks' as *;
@use '../shared/shared.placeholders' as *;

/**
 * TEXT HELPERS
 * -------------------------------------------------------------------
 */

/**
 * TEXT STYLE CLASSES
 * -------------------------------------------------------------------
 */

.u-text-bold {
  font-weight: var(--FONT-WEIGHT-BOLD);
}

.u-text-italic {
  font-style: italic;
}

.u-text-underline {
  text-decoration: underline;
}

/**
 * TEXT ALIGNMENT CLASSES
 * -------------------------------------------------------------------
 */

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}

/**
 * TEXT TRANSFORMATION CLASSES
 * -------------------------------------------------------------------
 */

.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}

/**
 * TEXT COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-text-primary {
  color: var(--BRAND-1);
}

.u-text-secondary {
  color: var(--BRAND-2);
}

.u-text-tertiary {
  color: var(--BRAND-3);
}

.u-text-info {
  color: var(--STATE-INFO);
}

.u-text-success {
  color: var(--STATE-SUCCESS);
}

.u-text-warning {
  color: var(--STATE-WARNING);
}

.u-text-danger {
  color: var(--STATE-DANGER);
}

.u-text-light {
  color: var(--TEXT-COLOR-LIGHT);
}

.u-text {
  color: var(--TEXT-COLOR);
}

.u-text-inverted {
  color: var(--TEXT-COLOR-INVERTED);
}

/**
 * TEXT OVERFLOW CLASSES
 * -------------------------------------------------------------------
 */

.u-text-truncate {
  @extend %u-text-truncate;
}

/**
 * TEXT ACCESSIBILITY CLASSES
 * -------------------------------------------------------------------
 */

.u-text-readable {
  max-width: var(--READABLE-CONTENT-WIDTH);
}
