@use '../quarks' as *;

/**
 * BACKGROUND COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-bg {
  background-color: var(--BG-COLOR);
}

.u-bg-light {
  background-color: var(--BG-COLOR);
}

.u-bg-primary {
  background-color: var(--BRAND-1);
}

.u-bg-secondary {
  background-color: var(--BRAND-2);
}

.u-bg-tertiary {
  background-color: var(--BRAND-3);
}

.u-bg-u-bg-info {
  background-color: var(--STATE-INFO);
}

.u-bg-success {
  background-color: var(--STATE-SUCCESS);
}

.u-bg-warning {
  background-color: var(--STATE-WARNING);
}

.u-bg-danger {
  background-color: var(--STATE-DANGER);
}

.u-bg-white {
  background-color: $white;
}

.u-bg-black {
  background-color: $gray-600;
}
