@use 'quarks' as *;
@use 'sass:color';

:root {
  --brand-1: #{$tropical-rain-forest-500};
  --brand-1-tint: #{$tropical-rain-forest-600};
  --brand-1-alt-tint: #{$tropical-rain-forest-50};

  --brand-2: #{$mantis-600};
  --brand-2-tint: #{$mantis-700};
  --brand-2-alt-tint: #{$mantis-50};

  --brand-3: #{$rouge-500};
  --brand-3-tint: #{$rouge-600};
  --brand-3-alt-tint: #{$rouge-50};

  --link: #{$tropical-rain-forest-500};
  --link-tint: #{$tropical-rain-forest-600};

  --state-selected: #{color.mix($tropical-rain-forest-500, $white, 20%)};
}
