@use 'quarks' as *;
@use 'sass:map';

:root {
  --BRAND-1:                    var(--brand-1, #{$brand-1});
  --BRAND-1-TINT:               var(--brand-1-tint, #{$brand-1-tint});
  --BRAND-1-CONTRAST:           var(--brand-1-contrast, #{$brand-1-contrast});
  --BRAND-1-ALT:                var(--brand-1-alt, #{$brand-1-alt});
  --BRAND-1-ALT-TINT:           var(--brand-1-alt-tint, #{$brand-1-alt-tint});
  --BRAND-1-ALT-CONTRAST:       var(--brand-1-alt-contrast, #{$brand-1-alt-contrast});

  --BRAND-2:                    var(--brand-2, #{$brand-2});
  --BRAND-2-TINT:               var(--brand-2-tint, #{$brand-2-tint});
  --BRAND-2-CONTRAST:           var(--brand-2-contrast, #{$brand-2-contrast});
  --BRAND-2-ALT:                var(--brand-2-alt, #{$brand-2-alt});
  --BRAND-2-ALT-TINT:           var(--brand-2-alt-tint, #{$brand-2-alt-tint});
  --BRAND-2-ALT-CONTRAST:       var(--brand-2-alt-contrast, #{$brand-2-alt-contrast});

  --BRAND-3:                    var(--brand-3, #{$brand-3});
  --BRAND-3-TINT:               var(--brand-3-tint, #{$brand-3-tint});
  --BRAND-3-CONTRAST:           var(--brand-3-contrast, #{$brand-3-contrast});
  --BRAND-3-ALT:                var(--brand-3-alt, #{$brand-3-alt});
  --BRAND-3-ALT-TINT:           var(--brand-3-alt-tint, #{$brand-3-alt-tint});
  --BRAND-3-ALT-CONTRAST:       var(--brand-3-alt-contrast, #{$brand-3-alt-contrast});


  --STATE-INFO:                 var(--state-info, #{$state-info});
  --STATE-INFO-TINT:            var(--state-info-tint, #{$state-info-tint});
  --STATE-INFO-CONTRAST:        var(--state-info-contrast, #{$state-info-contrast});
  --STATE-INFO-ALT:             var(--state-info-alt, #{$state-info-alt});
  --STATE-INFO-ALT-TINT:        var(--state-info-alt-tint, #{$state-info-alt-tint});
  --STATE-INFO-ALT-CONTRAST:    var(--state-info-alt-contrast, #{$state-info-alt-contrast});

  --STATE-SUCCESS:              var(--state-success, #{$state-success});
  --STATE-SUCCESS-TINT:         var(--state-success-tint, #{$state-success-tint});
  --STATE-SUCCESS-CONTRAST:     var(--state-success-contrast, #{$state-success-contrast});
  --STATE-SUCCESS-ALT:          var(--state-success-alt, #{$state-success-alt});
  --STATE-SUCCESS-ALT-TINT:     var(--state-success-alt-tint, #{$state-success-alt-tint});
  --STATE-SUCCESS-ALT-CONTRAST: var(--state-success-alt-contrast, #{$state-success-alt-contrast});

  --STATE-WARNING:              var(--state-warning, #{$state-warning});
  --STATE-WARNING-TINT:         var(--state-warning-tint, #{$state-warning-tint});
  --STATE-WARNING-CONTRAST:     var(--state-warning-contrast, #{$state-warning-contrast});
  --STATE-WARNING-ALT:          var(--state-warning-alt, #{$state-warning-alt});
  --STATE-WARNING-ALT-TINT:     var(--state-warning-alt-tint, #{$state-warning-alt-tint});
  --STATE-WARNING-ALT-CONTRAST: var(--state-warning-alt-contrast, #{$state-warning-alt-contrast});

  --STATE-DANGER:               var(--state-danger, #{$state-danger});
  --STATE-DANGER-TINT:          var(--state-danger-tint, #{$state-danger-tint});
  --STATE-DANGER-CONTRAST:      var(--state-danger-contrast, #{$state-danger-contrast});
  --STATE-DANGER-ALT:           var(--state-danger-alt, #{$state-danger-alt});
  --STATE-DANGER-ALT-TINT:      var(--state-danger-alt-tint, #{$state-danger-alt-tint});
  --STATE-DANGER-ALT-CONTRAST:  var(--state-danger-alt-contrast, #{$state-danger-alt-contrast});

  --STATE-DISABLED:             var(--state-disabled, #{$state-disabled});
  --STATE-DISABLED-TINT:        var(--state-disabled-tint, #{$state-disabled-tint});
  --STATE-DISABLED-CONTRAST:    var(--state-disabled-contrast, #{$state-disabled-contrast});


  /**
   * UI COLORS
   * -------------------------------------------------------------------
   */

  --TEXT-COLOR:                 var(--text-color, #{$text-color});
  --TEXT-COLOR-LIGHT:           var(--text-color-light, #{$text-color-light});
  --TEXT-COLOR-INVERTED:        var(--text-color-inverted, #{$text-color-inverted});

  --BG-COLOR:                   var(--bg-color, #{$bg-color});
  --BG-COLOR-LIGHT:             var(--bg-color-light, #{$bg-color-light});
  --BG-COLOR-INVERTED:          var(--bg-color-inverted, #{$bg-color-inverted});

  --BORDER-COLOR:               var(--border-color, #{$border-color});
  --BORDER-COLOR-LIGHT:         var(--border-color-light, #{$border-color-light});

  --OVERLAY-COLOR:              var(--overlay-color, #{$overlay-color});
  --BOX-SHADOW-COLOR:           var(--box-shadow-color, #{$box-shadow-color});

  --LINK:                       var(--link, var(--BRAND-1));
  --LINK-TINT:                  var(--link-tint, var(--BRAND-1-TINT));
  --LINK-CONTRAST:              var(--link-contrast, var(--BRAND-1-CONTRAST));
  --LINK-ALT:                   var(--link-alt, var(--BRAND-1-ALT));
  --LINK-ALT-TINT:              var(--link-alt-tint, var(--BRAND-1-ALT-TINT));
  --LINK-ALT-CONTRAST:          var(--link-alt-contrast, var(--BRAND-1-ALT-CONTRAST));

  --STATE-SELECTED:             var(--state-selected, #{$state-selected});

  /**
   * SPACERS
   * -------------------------------------------------------------------
   */

  --SPACER:                     var(--spacer, #{$spacer});                // 24px
  --SPACER-3XL:                 var(--spacer-3xl, #{$spacer-3xl});        // 96px
  --SPACER-XXL:                 var(--spacer-xxl, #{$spacer-xxl});        // 60px
  --SPACER-XL:                  var(--spacer-xl, #{$spacer-xl});          // 48px
  --SPACER-L:                   var(--spacer-l, #{$spacer-l});            // 36px
  --SPACER-S:                   var(--spacer-s, #{$spacer-s});            // 16px
  --SPACER-XS:                  var(--spacer-xs, #{$spacer-xs});          // 12px
  --SPACER-XXS:                 var(--spacer-xxs, #{$spacer-xxs});        // 8px
  --SPACER-3XS:                 var(--spacer-3xs, #{$spacer-3xs});        // 4px

  /**
   * BREAKPOINTS
   * -------------------------------------------------------------------
   */

  --SCREEN-XS:                  var(--screen-xs, #{$screen-xs});
  --SCREEN-SM:                  var(--screen-sm, #{$screen-sm});
  --SCREEN-MD:                  var(--screen-md, #{$screen-md});
  --SCREEN-LG:                  var(--screen-xl, #{$screen-lg});
  --SCREEN-XL:                  var(--screen-xl, #{$screen-xl});

  /**
   * --SCREEN-XXL =
   *    max-width of u-container
   *    + width of official logo * 2
   *    + space between logo and u-container * 2
   */
  --SCREEN-XXS-MAX:             var(--screen-xxs-max, #{$screen-xxs-max}); // 719px (--SCREEN-XS - 1px)
  --SCREEN-XS-MAX:              var(--screen-xs-max, #{$screen-xs-max}); // 719px (--SCREEN-SM - 1px)
  --SCREEN-SM-MAX:              var(--screen-sm-max, #{$screen-sm-max}); // 991px (--SCREEN-MD - 1px)
  --SCREEN-MD-MAX:              var(--screen-md-max, #{$screen-md-max}); // 1199px (--SCREEN-LG - 1px)
  --SCREEN-LG-MAX:              var(--screen-xl-max, #{$screen-lg-max}); // 1439px (--SCREEN-XL - 1px)
  
  /**
   * FONT FAMILIES
   * -------------------------------------------------------------------
   */

  --FONT-FAMILY-BASE:           var(--font-family-base, #{$font-family-base});
  --FONT-FAMILY-HEADINGS:       var(--font-family-headings, #{$font-family-headings});
  --FONT-FAMILY-MONOSPACE:      var(--font-family-monospace, #{$font-family-monospace});

  /**
   * FONT WEIGHTS
   * -------------------------------------------------------------------
   */

  --FONT-WEIGHT-LIGHT:          var(--font-weight-light, #{$font-weight-light});
  --FONT-WEIGHT-NORMAL:         var(--font-weight-normal, #{$font-weight-normal});
  --FONT-WEIGHT-BOLD:           var(--font-weight-bold, #{$font-weight-bold});
  --FONT-WEIGHT-EXTRA-BOLD:     var(--font-weight-extra-bold, #{$font-weight-extra-bold});

  --FONT-WEIGHT-H1:             var(--font-weight-h1, var(--FONT-WEIGHT-BOLD));
  --FONT-WEIGHT-H2:             var(--font-weight-h2, var(--FONT-WEIGHT-BOLD));
  --FONT-WEIGHT-H3:             var(--font-weight-h3, var(--FONT-WEIGHT-BOLD));
  --FONT-WEIGHT-H4:             var(--font-weight-h4, var(--FONT-WEIGHT-BOLD));
  --FONT-WEIGHT-H5:             var(--font-weight-h5, var(--FONT-WEIGHT-BOLD));
  --FONT-WEIGHT-H6:             var(--font-weight-h6, var(--FONT-WEIGHT-BOLD));

  /**
   * FONT SIZES
   * -------------------------------------------------------------------
   */

  --FONT-SIZE-BASE:             var(--font-size-base, #{$font-size-base});
  --FONT-SIZE-SMALL:            var(--font-size-small, #{$font-size-small});
  --FONT-SIZE-LARGE:            var(--font-size-large, #{$font-size-large});

  --FONT-SIZE-H1:               var(--font-size-h1, #{$font-size-h1});    // 36px
  --FONT-SIZE-H2:               var(--font-size-h2, #{$font-size-h2});    // 30px
  --FONT-SIZE-H3:               var(--font-size-h3, #{$font-size-h3});    // 23px
  --FONT-SIZE-H4:               var(--font-size-h4, #{$font-size-h4});    // 21px
  --FONT-SIZE-H5:               var(--font-size-h5, #{$font-size-h5});    // 19px
  --FONT-SIZE-H6:               var(--font-size-h6, #{$font-size-h6});    // 17px

  /**
   * ICON SIZES
   * -------------------------------------------------------------------
   */

  --ICON-SIZE-BASE:             var(--icon-size-base, #{$icon-size-base});    // 20px
  --ICON-SIZE-SMALL:            var(--icon-size-small, #{$icon-size-small});  // 16px
  --ICON-SIZE-LARGE:            var(--icon-size-large, #{$icon-size-large});  // 24px

  /**
   * LINE-HEIGHT
   * -------------------------------------------------------------------
   */

  --LINE-HEIGHT-BASE:           var(--line-height-base, #{$line-height-base});
  --LINE-HEIGHT-HEADING:        var(--line-height-heading, #{$line-height-heading});
  --LINE-HEIGHT-PARAGRAPH:      var(--line-height-paragraph, #{$line-height-paragraph});

  /**
   * BORDERS
   * -------------------------------------------------------------------
   */

  --BORDER-RADIUS:              var(--border-radius, #{$border-radius});
  --BORDER-WIDTH:               var(--border-width, #{$border-width});

  /**
   * ANIMATIONS
   * -------------------------------------------------------------------
   */

  --ANIMATION-DURATION:         var(--animation-duration, #{$animation-duration});
  --ANIMATION-EASING:           var(--animation-easing, #{$animation-easing});
  --ANIMATION-NORMAL:           var(--animation-normal, var(--ANIMATION-DURATION) var(--ANIMATION-EASING));

  /**
   * BOX SHADOWS
   * -------------------------------------------------------------------
   */

  --BOX-SHADOW-BOTTOM-LEFT:     var(--box-shadow-bottom-left, calc(var(--SPACER) / -2) calc(var(--SPACER) / 2) 0 var(--BOX-SHADOW-COLOR));
  --BOX-SHADOW-BOTTOM-RIGHT:    var(--box-shadow-bottom-right, calc(var(--SPACER) / 2) calc(var(--SPACER) / 2) 0 var(--BOX-SHADOW-COLOR));
  --BOX-SHADOW-TOP-LEFT:        var(--box-shadow-top-left, calc(var(--SPACER) / -2) calc(var(--SPACER) / -2) 0 var(--BOX-SHADOW-COLOR));
  --BOX-SHADOW-TOP-RIGHT:       var(--box-shadow-top-right, calc(var(--SPACER) / 2) calc(var(--SPACER) / -2) 0 var(--BOX-SHADOW-COLOR));
  --BOX-SHADOW:                 var(--box-shadow, var(--BOX-SHADOW-BOTTOM-RIGHT));

  /**
   * READABLE CONTENT
   * -------------------------------------------------------------------
   */

  --READABLE-CONTENT-WIDTH:     var(--readable-content-width, #{$readable-content-width});

  /**
   * Z-INDEXES
   * -------------------------------------------------------------------
   */
  
  --Z-CELLAR:                   var(--z-cellar, #{map.get($z-indexes, 'cellar')});
  --Z-AUTO:                     var(--z-auto, #{map.get($z-indexes, 'auto')});
  --Z-BASE:                     var(--z-base, #{map.get($z-indexes, 'base')});
  --Z-TOP:                      var(--z-top, #{map.get($z-indexes, 'top')});
  --Z-DATEPICKER:               var(--z-datepicker, #{map.get($z-indexes, 'datepicker')});
  --Z-FLYOUT:                   var(--z-flyout, #{map.get($z-indexes, 'flyout')});
  --Z-TOOLTIP:                  var(--z-tooltip, #{map.get($z-indexes, 'tooltip')});
  --Z-PANE-OVERLAY:             var(--z-pane-overlay, #{map.get($z-indexes, 'pane-overlay')});
  --Z-PANE:                     var(--z-pane, #{map.get($z-indexes, 'pane')});
  --Z-STATUSBAR:                var(--z-statusbar, #{map.get($z-indexes, 'statusbar')});
  --Z-HEADER:                   var(--z-header, #{map.get($z-indexes, 'header')});
  --Z-OVERLAY:                  var(--z-overlay, #{map.get($z-indexes, 'overlay')});
}
