/**
 * AUI LEAFLET
 * -------------------------------------------------------------------
 */

.o-leaflet {
  --leaflet-bg-color:                           #{$gray-200};
  --leaflet-height:                             24rem;
  --leaflet-map-spacer:                         var(--spacer-xs);
  --leaflet-content-bg-color:                   #{$white};
  --leaflet-content-spacer:                     var(--spacer);
  --leaflet-content-width:                      16rem;
  --leaflet-control-spacer:                     var(--spacer-3xs);
}

.o-leaflet {
  background-color: var(--leaflet-bg-color);
  border: var(--border-width) solid $gray-300;
  display: flex;
  height: var(--leaflet-height);
  width: 100%;

  &__wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__map {
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    position: relative;
    z-index: layer('base');
  }

  &__content {
    background-color: var(--leaflet-content-bg-color);
    border-right: solid var(--border-width) var(--border-color);
    display: none;
    height: 100%;
    overflow: auto;
    padding: var(--leaflet-content-spacer);
    width: var(--leaflet-content-width);
    z-index: layer('top');

    @include to($screen-xs) {
      position: absolute;
      z-index: layer('pane');
    }

    &--open {
      display: block;
    }
  }

  &__controls {
    position: absolute;
    z-index: layer('top');

    &--bottom-left {
      bottom: var(--leaflet-map-spacer);
      left: var(--leaflet-map-spacer);
    }

    &--bottom-right {
      bottom: var(--leaflet-map-spacer);
      right: var(--leaflet-map-spacer);
    }

    &--top-left {
      left: var(--leaflet-map-spacer);
      top: var(--leaflet-map-spacer);
    }

    &--top-right {
      right: var(--leaflet-map-spacer);
      top: var(--leaflet-map-spacer);
    }

    &--top-left .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-bottom: var(--leaflet-control-spacer);
    }

    &--bottom-left .o-leaflet__control,
    &--bottom-right .o-leaflet__control {
      margin-top: var(--leaflet-control-spacer);
    }

    &--bottom-left .o-leaflet__control,
    &--top-left .o-leaflet__control {
      margin-right: var(--leaflet-control-spacer);
    }

    &--bottom-right .o-leaflet__control,
    &--top-right .o-leaflet__control {
      margin-left: var(--leaflet-control-spacer);
    }
  }

  &__control {
    float: left;
  }

  &__zoom-control {
    display: block;
  }

  &__html-icon {
    background-color: transparent;
    border: none;
  }

  &.o-leaflet--full-screen {
    border: none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: layer('overlay');
  }
}

/**
 * LEAFLET OVERRIDES
 */

.o-leaflet {
  .leaflet-container {
    font-family: inherit;
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: none;
  }

  .leaflet-popup-content {
    font-size: $font-size-sm;
    margin: var(--spacer-xs);
  }

  .leaflet-popup-close-button {
    right: var(--spacer-3xs);
    top: var(--spacer-3xs);
    z-index: layer('base');
  }
}
