/**
 * NORMALIZE
 * -------------------------------------------------------------------
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  border: 0;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
