@use '../quarks' as *;

/**
 * TYPOGRAPHY
 * -------------------------------------------------------------------
 */

/**
 * BASE
 * -------------------------------------------------------------------
 */

body {
  color: var(--TEXT-COLOR);
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-SIZE-BASE);
  line-height: var(--LINE-HEIGHT-BASE);
}

::selection {
  background-color: var(--STATE-SELECTED);
}

/**
 * HEADERS
 * -------------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: var(--LINE-HEIGHT-HEADING);
  margin: 0;
}

h1,
.h1 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: var(--FONT-SIZE-H1);
  font-weight: var(--FONT-WEIGHT-H1);
}

h2,
.h2 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: var(--FONT-SIZE-H2);
  font-weight: var(--FONT-WEIGHT-H2);
}

h3,
.h3 {
  font-family: var(--FONT-FAMILY-HEADINGS);
  font-size: var(--FONT-SIZE-H3);
  font-weight: var(--FONT-WEIGHT-H3);
}

h4,
.h4 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-SIZE-H4);
  font-weight: var(--FONT-WEIGHT-H4);
}

h5,
.h5 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-SIZE-H5);
  font-weight: var(--FONT-WEIGHT-H5);
}

h6,
.h6 {
  font-family: var(--FONT-FAMILY-BASE);
  font-size: var(--FONT-SIZE-H6);
  font-weight: var(--FONT-WEIGHT-H6);
}

/**
 * PARAGRAPHS
 * -------------------------------------------------------------------
 */

p,
.paragraph {
  font-size: var(--FONT-SIZE-BASE);
  line-height: var(--LINE-HEIGHT-PARAGRAPH);
  margin: 0;
}

/**
 * PARAGRAPHS
 * -------------------------------------------------------------------
 */

ul,
ol,
dl {
  font-size: var(--FONT-SIZE-BASE);
  line-height: var(--LINE-HEIGHT-PARAGRAPH);
  margin: 0;
}

/**
 * BLOCKQUOTES
 * -------------------------------------------------------------------
 */

blockquote {
  border-left: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  margin: 0;
  padding: var(--SPACER-XS) 0 var(--SPACER-XS) var(--SPACER);

  p {
    display: inline;
    font-family: var(--FONT-FAMILY-HEADINGS);
  }

  cite {
    color: var(--BRAND-2);
    display: inline-block;
    font-style: normal;
    line-height: var(--LINE-HEIGHT-HEADING);

    &:before {
      content: '— ';
    }
  }
}

/**
 * SMALL
 * -------------------------------------------------------------------
 */

small,
.small {
  color: var(--TEXT-COLOR-LIGHT);
  font-size: var(--FONT-SIZE-SMALL);
}

/**
 * MARK
 * -------------------------------------------------------------------
 */

mark {
  background-color: var(--BRAND-1);
  color: var(--TEXT-COLOR-INVERTED);
  padding: 0 .125rem;
}

/**
 * HORIZONTAL RULES
 * -------------------------------------------------------------------
 */

hr {
  border: none;
  border-top: var(--BORDER-WIDTH) solid var(--BORDER-COLOR);
  height: var(--BORDER-WIDTH);
  margin: var(--SPACER) 0;
}

/**
 * LINKS
 * -------------------------------------------------------------------
 */

a {
  color: var(--LINK);
  text-decoration-skip-ink: auto;
  transition: color var(--ANIMATION-NORMAL);

  &:hover,
  &:active,
  &:focus {
    color: var(--LINK-TINT);
    text-decoration: none;
  }
}
