@use '../quarks' as *;

/**
 * MEDIA
 * -------------------------------------------------------------------
 */

/**
 * BASE STYLING
 * -------------------------------------------------------------------
 */

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--FONT-SIZE-BASE);
  line-height: var(--LINE-HEIGHT-PARAGRAPH);
  padding: var(--SPACER-XS);

  @include at($screen-sm) {
    padding: var(--SPACER-S) var(--SPACER-XS);
  }
}
